<a href="https://colab.research.google.com/github/tomo302/disk110/blob/master/fanza_genre_%E3%82%A4%E3%83%B3%E3%82%B9%E3%83%88%E3%83%A9%E3%82%AF%E3%82%BF%E3%83%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
url = "https://www.dmm.co.jp/digital/videoa/-/list/=/article=keyword/id=1001/"

In [ ]:
res = requests.get(url)

In [ ]:
soup = BeautifulSoup(res.text, 'html.parser')

In [ ]:
soup

In [ ]:
res2 = requests.get(soup.find('a', class_ ="ageCheck__link ageCheck__link--r18")['href'])

In [ ]:
soup2 = BeautifulSoup(res2.text, 'html.parser')

In [ ]:
soup2

In [ ]:
titlesu_text = soup2.find('div', class_ = "list-boxcaptside list-boxpagenation").p.text.split('タ')[0]
if len(titlesu_text) > 3:
  titlesu_text = int(titlesu_text.replace(',', ''))
else:
  titlesu_text = int(titlesu_text)

In [ ]:
titlesu_text

454

タイトル数取得
soup2.find('div', class_ = "list-boxcaptside list-boxpagenation").p.text.split('タ')[0]

In [ ]:
soup2.title.text.split('-')[0].split()[0] #末端の空白削除split(),これでリスト型になってしますので[0]で値を取得。

'OL'

In [ ]:
#ジャンルページのタイトル数取得　まだタイトル数を利用していない
def get_title_sou():

  titlesu_text = soup2.find('div', class_ = "list-boxcaptside list-boxpagenation").p.text.split('タ')[0]
  if len(titlesu_text) > 3:
    titlesu_text = int(titlesu_text.replace(',', ''))
  else:
    titlesu_text = int(titlesu_text)
  return titlesu_text

In [ ]:
get_title_sou()

10383

In [ ]:
#作品ページURL,作品タイトル、作品ジャケット画像URL
for _ in soup2.find_all('p', class_ = 'tmb'):
  print(_.a['href'])
  print(_.img['alt'])
  print(_.img['src'])

In [ ]:
#女優名配列　完成
actor_list = []
for _ in soup2.find_all('p', class_ = 'sublink'):
  print(_.span.text)
  actor_name = (_.span.text)
  if actor_name == "----":
    print("複数")
  actor_list.append(actor_name)

In [ ]:
#作品URL、中途半端なので組み立て必要
"https://www.dmm.co.jp/" + soup2.find('p', class_ = 'sublink').span.a['href']

'https://www.dmm.co.jp//digital/videoa/-/list/=/article=actress/id=1042129/'

In [ ]:
len(actor_list)

120

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('fanza20220618.db')

In [ ]:
cur = conn.cursor()

In [ ]:
cur.execute("DROP TABLE IF EXISTS genru")

def insert_data():
    con = sqlite3.connect('./sample.db')

    cur = con.cursor()

    sql = 'INSERT INTO TEST (id, name) values (?,?)'

    data = [1, '猫']

    cur.execute(sql, data)

    con.commit()

    con.close()

In [ ]:
cur.execute("DROP TABLE IF EXISTS genru") #genruテーブルが存在したらテーブル削除
#genruテーブル作成
cur.execute("""CREATE TABLE genru(
  id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
  actorName text NOT NULL,
  videoUrl text NOT NULL,
  videoTitle text NOT NULL
)""")
print('genruテーブルを作成しました')

genruテーブルを作成しました

for row in soup2.find_all(class_=['tmb', 'sublink']):
  name = (row.select('span > a'))
  title = row.find('span', class_ = 'img')
  
  print(row.find('img')['alt'])

In [ ]:
#１行づつ配列作成してsqlにぶん投げる
i = 0
outer = []
for _ in soup2.find_all('p', class_ = 'tmb'):
  
  data = []

  actorName = actor_list[i]     #作成済みの女優名の配列からインデックスで取得。ハマった箇所
  videoUrl = (_.a['href'])      #作品のURL
  videoTitle = (_.img['alt'])   #作品タイトル
  data.append(actorName)   
  data.append(videoUrl)
  data.append(videoTitle)
  sql = 'INSERT INTO genru(actorName, videoUrl, videoTitle) VALUES(?, ?, ?)'
  cur.execute(sql, data)
  i = i + 1

data.append(actorName)   
  data.append(videoUrl)
  data.append(videoTitle)
  sql = 'INSERT INTO genru(actorName, videoUrl, videoTitle) VALUES(?, ?, ?)'
  cur.execute(sql, data)
  i = i + 1

In [ ]:
conn.commit()

In [ ]:
sql = 'SELECT * FROM genru;'

In [ ]:
#SELCTをレコードの数だけforで回す
for row in cur.execute(sql):
  print(row)

In [ ]:
conn.close()